<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **Bsmt25039**

# **Lab 10**

# **Task 01**

In [ ]:
string = "programming"

count = {}

for l in string:
  if l in count:
    count[l] += 1
  else:
    count[l] = 1

print(count)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

# **TAsk 02**

In [ ]:

dict_1 = {"a":1,"b":2,"c":3,"d":4,"e":5}

dict_2 = {"f":6,"g":7,"h":8,"i":9, "j":10 , "k":11}

print(dict_1 | dict_2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11}

# **Task 03**

In [ ]:
dict_3 = {"a":1,"b":2,"c":3,"d":4,"e":5}

dict_3.update({"d":6}) # update function is use to update a value in the dictionary and to combine two dictionary

print(f"The updated dict using update is : {dict_3}")

dict_3.pop("e") # pop function is use to remove the key and its value if none given its give error

print(f"\nThe updated dict using pop is  : {dict_3}")

dict_3.clear()  # clear function is use to clear all the dictionary and after that empty dictionary will be printed

print(f"\nThe updated dict using clear is  : {dict_3}")

The updated dict using update is : {'a': 1, 'b': 2, 'c': 3, 'd': 6, 'e': 5}

The updated dict using pop is  : {'a': 1, 'b': 2, 'c': 3, 'd': 6}

The updated dict using clear is  : {}

# **Task 04**

In [ ]:

dict_4 = {"a":1,"b":2,"c":3,"d":4,"e":5,"b":1 , "c" :7 , "g":4}

invert = {}

for key, val in dict_4.items():
  if val in invert:
    invert[val].append(key)
  else:
    invert[val] = [key]

print(invert)

{1: ['a', 'b'], 7: ['c'], 4: ['d', 'g'], 5: ['e']}

# **Task 05**

In [ ]:
my_dict = {}
for i in range(1,6):
  my_dict[(i,i+1)] = i * (i +1)

print(my_dict)

{(1, 2): 2, (2, 3): 6, (3, 4): 12, (4, 5): 20, (5, 6): 30}

# **TAsk 06**

In [ ]:
A = [1, 3, 5, 7]
B = [2, 3, 6, 7, 9]
D = {}

for i in A:
  for j in B:
    if i == j:
      D[i] = i+1

# print(D)
myi = list(D)
print(myi)

[3, 7]

# **Task 07**

In [ ]:
my_list = []

for i in range(3,14):
  my_list.append((i , i**2, i**3))
print(my_list)

for i in my_list:
  # print(i)
  print(f"\nNumber : {i[0]}, Square : {i[1]} , Cube : {i[2]} ")

[(3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000), (11, 121, 1331), (12, 144, 1728), (13, 169, 2197)]

Number : 3, Square : 9 , Cube : 27

Number : 4, Square : 16 , Cube : 64

Number : 5, Square : 25 , Cube : 125

Number : 6, Square : 36 , Cube : 216

Number : 7, Square : 49 , Cube : 343

Number : 8, Square : 64 , Cube : 512

Number : 9, Square : 81 , Cube : 729

Number : 10, Square : 100 , Cube : 1000

Number : 11, Square : 121 , Cube : 1331

Number : 12, Square : 144 , Cube : 1728

Number : 13, Square : 169 , Cube : 2197

# **Task 08**

In [1]:
primes = [n for n in range(2, 101)
          if all(n % d for d in range(2, int(n**0.5) + 1))]

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# **Task 09**

In [2]:
nums = [1,2,3]
print([i*j for i in nums for j in nums])

[1, 2, 3, 2, 4, 6, 3, 6, 9]

# **Task 10**

In [3]:
d = {i: i*2 for i in range(3)}

print(d)

{0: 0, 1: 2, 2: 4}

# **Task 11**

In [4]:
keys = ["a", "b", "c", "d"]
d = {keys[i]: i for i in range(3)}
print(d)

{'a': 0, 'b': 1, 'c': 2}

# **Task 12**

In [5]:
pairs = [(1, 2), (3, 4), (5, 6)]
sum = 0
for a, b in pairs: # here a and b at every index get the values like we have each index a tuple with 2 values so a get the first one and b get the second one
  sum += a * b     # then each index the a and b multiply like 1*2 and add that to the sum same for the remianing
                  # first iterate 2 in sum then 12+2 = 14 in sum and in last 30+14 = 44 in sum
print(sum)

44

# **Task 13**

In [8]:
d = {}
for i in range(3):  # here we have three range mean 0,1,2
  d[(i, i+1)] = i*10 # in first i = 0 so key is (0,0+1) : 0*10 then i = 1 key and val is (1,2) : 1*10 then i = 2 key and val is (2,3) : 2*10
print(len(d)) # so the len of the dict is 3 answer

3

# **Task 14**

In [10]:
d = {x: x*x for x in range(3)} # now here is x will be key x*x wil be value then loop with range(3) when x is 0 key and val is 0 : 0 then x = 1 so 1 : 1
                              #then x = 2 so 2: 4 then the loopis break
d[1] = 100 # here we update the value of key 1 from value 1 to 100
print(d)   # {0:0, 1:100, 2:4}

{0: 0, 1: 100, 2: 4}

# **TAsk 15**