<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **Bsmt25039**

# **Task 1**

In [ ]:
my_list = [1,2,3,4,5,6,7]
my_list.append(8)
print(my_list)
my_list.insert(1,1.5)
print(my_list)
my_list.remove(3)
print(my_list)

# The my list didnt give error on any of the adding removing or changing elements cuz it has its own
# functions


my_set = {1,2,3,4,5,6,7}
my_set.add(8)
print("\n",my_set)
my_set.update([9,10])
print("\n",my_set)
my_set.remove(5)
print("\n",my_set)

# The my set didnt give error on chnage updateing or removing from the set cuz it has it own functions



my_tuple = (1,2,3,4,5,6,7)
my_tuple.add(8)
print(my_tuple)
my_tuple.update([9,10])
print(my_tuple)
my_tuple.remove(5)
print(my_tuple)

# The My tuple is immutable and gives error on add change or remove cuz it has not its functions of these
# if we want to change or update or remove them we have to convert them into list then we can chnage it

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 1.5, 2, 3, 4, 5, 6, 7, 8]
[1, 1.5, 2, 4, 5, 6, 7, 8]

 {1, 2, 3, 4, 5, 6, 7, 8}

 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

 {1, 2, 3, 4, 6, 7, 8, 9, 10}

AttributeError: 'tuple' object has no attribute 'remove'

# **Task 2**

In [ ]:
my_list_1 = [10,20,30,40,20,30,50,90]
print(f"My len of list is {len(my_list_1)} and the list is : {my_list_1}")
my_set_1 = set(my_list_1)
print(f"\nMy len of set is {len(my_set_1)} and the set is : {my_set_1}")
my_tuple_1 = tuple(my_list_1)
print(f"\nMy len of tuple is {len(my_tuple_1)} and the tuple is : {my_tuple_1}")

# list and tuple print the all elements and have the same len even if they repeats multiple times and have different indexes
# but as we see the set doesn't print the repeating element and its len is less than list
# and tuple as we know that set have unique values and
# unordered so it ignores the repeated values and just print the unique ones

My len of list is 8 and the list is : [10, 20, 30, 40, 20, 30, 50, 90]

My len of set is 6 and the set is : {40, 10, 50, 20, 90, 30}

My len of tuple is 8 and the tuple is : (10, 20, 30, 40, 20, 30, 50, 90)

# **Task 3**

In [ ]:
tup = (1,)
print(tup)
print(type(tup))

# to create a tuple with one element we use the (1,) comma after that and its type is tuple
# if we create a tuple (1) like that its not tuple its type is now integer

tup_2 = (2,2.5,"Hello",True,2+5j)
print(tup_2)

(1,)
<class 'tuple'>
(2, 2.5, 'Hello', True, (2+5j))

# **Task 4**

In [ ]:
tup_3 = (40,78,"meow","bye",True,4.5)
print(tup_3[0])
print(tup_3[-1])
print(tup_3[12]) # it gives error tuple inex out of range as we know that our tuple have not that much elementsin it so the tuple didn't access it and it gives us error

40
4.5

IndexError: tuple index out of range

# **Task 5**

In [ ]:
tup_4 = [30,60,90,120,150,180,210]
tup_4[-3:]

# in negative indexing the all the elements have the negative indexing start from the last item and its index is -1
# and so on.
# when we use [start:end:step] when we use [-3:] it means it prints all elemnst from -3 to ownward like -2 ,-1

[150, 180, 210]

# **Task 6**

In [ ]:
tup_5 = (10,20,30,40,50)
tuple_in_list = list(tup_5)
tuple_in_list.append(60)
tup_5 = tuple(tuple_in_list)
print("The updated tuple is : ",tup_5)
# to change some thing in tuple we use to convert it into the list and t hen use th list methods to make the
# chnage and then again convert it into tuple and we have the updated tuple now
tuple_in_list[2] += 80
tup_5 = tuple(tuple_in_list)
print("The use of += in tuple ",tup_5)

# the use of += as we do mean we add 80 yo index three where 30 is exists and we
# add 80 in it not it is 110 and = means we assign that value in to the list
# this means we do two tasks at same line adding and assigning

The updated tuple is :  (10, 20, 30, 40, 50, 60)
The use of += in tuple  (10, 20, 110, 40, 50, 60)

# **Task 7**

In [ ]:
tup_6 = (20,40,60,80,100)
# we cant directly remove element from tuple cuz tuple dont have bulit in function of that
# s o we have to convert it to list first then we have access to all the list functions
# that we can use to update del remove add etc and then convert it to original tuple
# and now the tupel is updated

li = list(tup_6)
li.remove(40)
tup_6 = tuple(li)
print(tup_6)
#

del tup_6
print(tup_6) # when print it gives us error cuz the tuple is deleted in the above line and when we try to print it
# it give us error cuz in the last line we del it and now the interprater dosnt know what is tup_6 cuz it is deleted

(20, 60, 80, 100)

NameError: name 'tup_6' is not defined

# **Task 8**

In [ ]:
tup_7 = ("pakistan", "india", "USA", "Uk" , "Austrailia")
v,w,x,y,z = tup_7
print(v)
print(w)
print(x)
print(y)
print(z)

pakistan
india
USA
Uk
Austrailia

# **Task 9**

In [ ]:
tup_7 = ("basketball","cricket", "Tennis", "Football","badminton")
a,b,*z = tup_7
print(a)
print(b)
print(z)

basketball
cricket
['Tennis', 'Football', 'badminton']

# **Task 10**

In [ ]:
tup_8 = ("mango" ,"cherry", "apple","banana")
tup_9 = ("dates", "plum", "blueberry")

tup_10 = tup_8 + tup_9
print("The concatenated tuple is : ",tup_10)

tup_11 = tup_9 * 3
print("The repeated tuple is : ",tup_11)

The concatenated tuple is :  ('mango', 'cherry', 'apple', 'banana', 'dates', 'plum', 'blueberry')
The repeated tuple is :  ('dates', 'plum', 'blueberry', 'dates', 'plum', 'blueberry', 'dates', 'plum', 'blueberry')

# **Task 11**

In [ ]:
i = 1

while i <=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# **Task 12**

In [ ]:
numbers = int(input("Enter number : "))
while numbers >= 1:
    print(numbers)
    numbers -= 1
    sum += numbers
print("The sum of numbers is : ",sum)

Enter number : 13
13
12
11
10
9
8
7
6
5
4
3
2
1
The sum of numbers is :  89

# **Task 13**

In [ ]:
num = int(input("Enter a number : "))
while num >=1:
  print(num)
  num -= 1

Enter a number : 12
12
11
10
9
8
7
6
5
4
3
2
1

# **Task 14**