<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **Bsmt25039**

# **Lab 8**

# **Task 1**

In [ ]:
num_tup = (1,2,3,4,5,6,7,8,9)
rev_tup = []
i=len(num_tup)-1
while i >=0:

    rev_tup.append(num_tup[i])
    # print(num_tup[i])
    i-=1

print(tuple(rev_tup))

(9, 8, 7, 6, 5, 4, 3, 2, 1)

# **Task 2**

In [ ]:
my_list = [10,20,30,40,50,60]
max = my_list[0]
min = my_list[0]
i = 0
while  i < len(my_list):
  if my_list[i] > max:
    max = my_list[i]
  if my_list[i] < min:
    min = my_list[i]
  i+=1
  diff = max - min

print("The maximun number is ",max)
print("The minimun number is ",min)
print("The difference between max and min is",diff)

The maximun number is  60
The minimun number is  10
The difference between max and min is 50

# **Task 3**

In [ ]:
tem_in_cel = []

while True:
  user = int(input("Enter temperature in celcius : "))
  if user == 999:
    break
  if user > -50 and user < 60:
     tem_in_cel.append(user)
  else:
    print("Temperature should be in range of -50 to 60")

maxi = max(tem_in_cel)
mini = min(tem_in_cel)
sum4 = sum(tem_in_cel)
avg = sum(tem_in_cel)/ len(tem_in_cel)

print("\nYou break the loop")
print("\nAll recorded tem are : ",tem_in_cel)
print("\nThe maximum temperature is ",maxi)
print("\nThe minimum temperature is ",mini)
print("\nThe sum of temperatures is ",sum4)
print("\nThe average temperature is ",avg)

Enter temperature in celcius : 18
Enter temperature in celcius : 26
Enter temperature in celcius : 90
Temperature should be in range of -50 to 60
Enter temperature in celcius : 60
Temperature should be in range of -50 to 60
Enter temperature in celcius : 50
Enter temperature in celcius : -5
Enter temperature in celcius : -20
Enter temperature in celcius : -50
Temperature should be in range of -50 to 60
Enter temperature in celcius : 10
Enter temperature in celcius : 999

You break the loop

All recorded tem are :  [18, 26, 50, -5, -20, 10]

The maximum temperature is  50

The minimum temperature is  -20

The sum of temperatures is  79

The average temperature is  13.166666666666666

# **Task 4**

In [ ]:
petrol_sold_in_litres = []
sales_over_50_litres = []
while True:
  liters = int(input("Enter liters of petrol sold : "))
  if liters == 0:
    break
  if liters > 50:
    sales_over_50_litres.append(liters)
  elif liters < 0:
    print("Invalid input")
  else :
    petrol_sold_in_litres.append(liters)

avy_liters = sum(petrol_sold_in_litres + sales_over_50_litres) / (len(petrol_sold_in_litres) + len(sales_over_50_litres))


print("\nThe petrol sold in liters are in each transaction",petrol_sold_in_litres)
print("\nThe petrol sold (above 50 liters) transactions are:", sales_over_50_litres)
print("\nNumber of pertol sold each transaction above 50 liters are : ",len(sales_over_50_litres))
print("\nThe average liters of petrol sold is ",avy_liters)

if sum(petrol_sold_in_litres + sales_over_50_litres) > 500 :
  print("High Sales Day")

else :
  print("Normal Sales Day")

Enter liters of petrol sold : 12
Enter liters of petrol sold : 2
Enter liters of petrol sold : -1
Invalid input
Enter liters of petrol sold : 57
Enter liters of petrol sold : 90
Enter liters of petrol sold : 61
Enter liters of petrol sold : 45
Enter liters of petrol sold : 26
Enter liters of petrol sold : 10
Enter liters of petrol sold : 12
Enter liters of petrol sold : 82
Enter liters of petrol sold : 14
Enter liters of petrol sold : 44
Enter liters of petrol sold : 11
Enter liters of petrol sold : 32
Enter liters of petrol sold : 0

The petrol sold in liters are in each transaction [12, 2, 45, 26, 10, 12, 14, 44, 11, 32]

The petrol sold (above 50 liters) transactions are: [57, 90, 61, 82]

Number of pertol sold each transaction above 50 liters are :  4

The average liters of petrol sold is  35.57142857142857
Normal Sales Day

# **Task 5**

In [ ]:
students = []
unique_students = set()

while True:
  user = input("Enter STUDENTS name who are in class : ").lower()

  if user == "end":
    break
  else :
    students.append(user)
    unique_students.add(user)

print("\nThe students in class are : ",students)
print("\nThe unique students in class are : ",unique_students)
print("\nThe total number of unique students who attend class are : ",len(unique_students))
print("\nTotal number of duplicates students are " , len(students) - len(unique_students))

Enter STUDENTS name who are in class : khurram
Enter STUDENTS name who are in class : saad
Enter STUDENTS name who are in class : shoaib
Enter STUDENTS name who are in class : faizan
Enter STUDENTS name who are in class : khurram
Enter STUDENTS name who are in class : saad
Enter STUDENTS name who are in class : sajid
Enter STUDENTS name who are in class : usama
Enter STUDENTS name who are in class : end

The students in class are :  ['khurram', 'saad', 'shoaib', 'faizan', 'khurram', 'saad', 'sajid', 'usama']

The unique students in class are :  {'khurram', 'saad', 'usama', 'shoaib', 'faizan', 'sajid'}

The total number of unique students who attend class are :  6

Total number of duplicates students are  2

# **Task 6**

In [ ]:
friend_1 = []
friend_2 = []

while True:
  user_1 = int(input("Enter favourite number of friend 1 : "))
  if user_1 == -1:
    break
  else:
    friend_1.append(user_1)

unique_friend_1 = set(friend_1)
print("\n")
while True:
  user_2 = int(input("Enter favourite number of friend 2 : "))
  if user_2 == -1:
    break
  else:
    friend_2.append(user_2)

unique_friend_2 = set(friend_2)

print("\nThe unique favourite numbers of friend 1 are : ",unique_friend_1)
print("\nThe unique favourite numbers of friend 2 are : ",unique_friend_2)
print("\nThe common favourite numbers are : ",unique_friend_1 & unique_friend_2)
print("\nThe friends who have no common favourite numbers are : ",unique_friend_1 ^ unique_friend_2)
print("\nThe total shared nummber are : ",len(unique_friend_1 & unique_friend_2))

Enter favourite number of friend 1 : 20
Enter favourite number of friend 1 : 5
Enter favourite number of friend 1 : 5
Enter favourite number of friend 1 : 1
Enter favourite number of friend 1 : 2
Enter favourite number of friend 1 : 9
Enter favourite number of friend 1 : 9
Enter favourite number of friend 1 : 11
Enter favourite number of friend 1 : -1


Enter favourite number of friend 2 : 1
Enter favourite number of friend 2 : 5
Enter favourite number of friend 2 : 8
Enter favourite number of friend 2 : 11
Enter favourite number of friend 2 : 6
Enter favourite number of friend 2 : 18
Enter favourite number of friend 2 : -1

The unique favourite numbers of friend 1 are :  {1, 2, 5, 9, 11, 20}

The unique favourite numbers of friend 2 are :  {1, 5, 6, 8, 11, 18}

The common favourite numbers are :  {1, 11, 5}

The friends who have no common favourite numbers are :  {2, 6, 8, 9, 18, 20}

The total shared nummber are :  3

# **Task 7**

In [ ]:

total_spent = 0

while True:
  input_amount = int(input("Enter the amount of the order : "))
  if input_amount == 0:
    break
  if input_amount < 0:
    print("Invalid input")
    continue
  total_spent += input_amount


if total_spent > 100000:
  shopper_category = "Premium Customer"
elif total_spent > 30000 and total_spent < 100000:
  shopper_category = "Regular Customer"
elif total_spent < 30000:
  shopper_category = "New Customer"


print(f"\nTotal amount of the order : {total_spent}")
print(f"Shopper category : {shopper_category}")

Enter the amount of the order : 5000
Enter the amount of the order : 8500
Enter the amount of the order : -10000
Invalid input
Enter the amount of the order : 900
Enter the amount of the order : 20000
Enter the amount of the order : 75000
Enter the amount of the order : 0

Total amount of the order : 109400
Shopper category : Premium Customer

# **Task 8**

In [ ]:
CAR_TOLL = 200
BUS_TOLL = 500
TRUCK_TOLL = 800
BIKE_TOLL = 100

car_count = 0
bus_count = 0
truck_count = 0
bike_count = 0


vehicle_types = []

total_tolls = []
while True:
  vehicle_entered = input("ENter the vehicle type : ").lower().strip()

  if vehicle_entered == "stop":
    break

  if vehicle_entered == "car":
    total_tolls.append(CAR_TOLL)
    vehicle_types.append(vehicle_entered)
    car_count += 1

  elif vehicle_entered == "bus":
    total_tolls.append(BUS_TOLL)
    vehicle_types.append(vehicle_entered)
    bus_count += 1

  elif vehicle_entered == "truck":
    total_tolls.append(TRUCK_TOLL)
    vehicle_types.append(vehicle_entered)
    truck_count += 1

  elif vehicle_entered == "bike":
    total_tolls.append(BIKE_TOLL)
    vehicle_types.append(vehicle_entered)
    bike_count += 1

  else :
    print("Invalid input")


sum_toll = sum(total_tolls)

if total_tolls:
    max_toll = max(total_tolls)
    min_toll = min(total_tolls)
else:
    max_toll = min_toll = None



if sum_toll > 10000:
  traffic_day = "High Traffic Day"
elif sum_toll >= 5000 and sum_toll <= 10000:
  traffic_day = "Moderate Traffic Day"
else:
  traffic_day = "Low Traffic Day"


print("\nAll amount tolls collected list are : ",total_tolls)
print("\nThe total amount of tolls is : ",sum_toll)
print("\nThe Highest amount of toll is : ",max_toll)
print("\nThe Lowest amount of toll is : ",min_toll)
print("\nThe unique vehicles entered are : ",set(vehicle_types))
print("\nThe total number of cars paid toll are : ",car_count)
print("\nThe total number of buses paid toll are : ",bus_count)
print("\nThe total number of trucks paid toll are : ",truck_count)
print("\nThe total number of bikes paid toll are : ",bike_count)
print("\nToday is :",traffic_day)

ENter the vehicle type : car
ENter the vehicle type : truck
ENter the vehicle type : bik
Invalid input
ENter the vehicle type : bike
ENter the vehicle type : truck
ENter the vehicle type : bus
ENter the vehicle type : bike
ENter the vehicle type : car
ENter the vehicle type : car
ENter the vehicle type : bs
Invalid input
ENter the vehicle type : truck
ENter the vehicle type : bus
ENter the vehicle type : bike
ENter the vehicle type : bike
ENter the vehicle type : car
ENter the vehicle type : truck
ENter the vehicle type : bus
ENter the vehicle type : bike
ENter the vehicle type : truck
ENter the vehicle type : car
ENter the vehicle type : truck
ENter the vehicle type : stop

All amount tolls collected list are :  [200, 800, 100, 800, 500, 100, 200, 200, 800, 500, 100, 100, 200, 800, 500, 100, 800, 200, 800]

The total amount of tolls is :  7800

The Highest amount of toll is :  800

The Lowest amount of toll is :  100

The unique vehicles entered are :  {'bike', 'bus', 'truck', 'car'}

The total number of cars paid toll are :  5

The total number of buses paid toll are :  3

The total number of trucks paid toll are :  6

The total number of bikes paid toll are :  5

Today is : Moderate Traffic Day