<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_assignment_02ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **BSMT25039**

# **Assignment 2**

# **Task 01**

In [ ]:
prices = [1200, 800, 2500, 700, 150, 970]

total = sum(prices)

if total > 5000:
  discount = total * 0.1
  total_after_discount = total - discount
  print("Your total amount is :" , total)
  print("you have 10% discount :",discount)
  print("Total final amount  after 10% discount you have to pay is :", total_after_discount)
else:
  print("No discount applied")
  print("Your total amount is " , total)

Your total amount is : 6320
you have 10% discount : 632.0
Total final amount  after 10% discount you have to pay is : 5688.0

# **Task 02**

In [ ]:

student_marks = [85, 92, 78, 88, 33, 20 ,17 ,90, 76, 95, 89, 84, 91,48]
max = student_marks[0]
min = student_marks[0]

pass_count = 0
fail_count = 0

total = 0
for i in student_marks:
  if i > max:
    max = i
  if i < min:
    min = i
  total +=i
  average = total / len(student_marks)

  if i >= 50:
    pass_count += 1
  else:
    fail_count += 1


print("Highest mark is :" , max)
print("\nLowest mark is :" , min)
print("\nAverage mark is :" , average)
print("\nNumber of students passed is :" , pass_count)
print("\nNumber of students failed is :" , fail_count)

Highest mark is : 95

Lowest mark is : 17

Average mark is : 70.42857142857143

Number of students passed is : 10

Number of students failed is : 4

# **Task 03**

In [ ]:
order_ids = [101,555, 105, 102, 101, 108, 110,337, 890, 105, 111, 112, 108, 113, 101,99,456,727]

unique_orders = set(order_ids)

print("The unique order ids are : ",unique_orders)

print(f"\nThe sorted unique order ids are : {sorted(unique_orders)}")

The unique order ids are :  {99, 101, 102, 456, 105, 555, 108, 110, 111, 112, 337, 113, 727, 890}

The sorted unique order ids are : [99, 101, 102, 105, 108, 110, 111, 112, 113, 337, 456, 555, 727, 890]

# **TAsk 04**

In [ ]:
ratings = [5, 4, 3, 5, 2, 4, 5, 1, 3, 4, 5, 2, 3, 4, 5, 1, 2, 4, 5, 3]

count_1_star = 0
count_2_star = 0
count_3_star = 0
count_4_star = 0
count_5_star = 0


for i in ratings:
  if i == 1:
    count_1_star += 1
  elif i == 2:
    count_2_star += 1
  elif i == 3:
    count_3_star += 1
  elif i == 4:
    count_4_star += 1
  elif i == 5:
    count_5_star += 1
  else:
    print("Invalid rating")

print("Number of 1-star ratings:", count_1_star)
print("Number of 2-star ratings:", count_2_star)
print("Number of 3-star ratings:", count_3_star)
print("Number of 4-star ratings:", count_4_star)
print("Number of 5-star ratings:", count_5_star)

Number of 1-star ratings: 2
Number of 2-star ratings: 3
Number of 3-star ratings: 4
Number of 4-star ratings: 5
Number of 5-star ratings: 6

# **Task 05**

In [ ]:
temps = (30, 32, 33, 31, 29, 35, 36)

coldest_day = temps[0]
hottest_day = temps[0]

print("Below are the temperatures > 32 a day : ")
for i in temps:

  if i > 32:
    print(i)
  if i < coldest_day:
    coldest_day = i
  if i > hottest_day:
    hottest_day = i

print("Coldest day temperature is :" , coldest_day)
print("Hottest day temperature is :" , hottest_day)

Below are the temperatures > 32 a day :
33
35
36
Coldest day temperature is : 29
Hottest day temperature is : 36

# **TAsk 06**

In [ ]:
present_today = {"Ali", "Sara", "Bilal", "Hina", "Usman", "Fatima"}
on_leave = {"Ayesha", "Omar", "Hassan", "Fariha"}


present_not_leave = present_today - on_leave
print("\nEmployees present but not on leave:", present_not_leave)

leave_not_present = on_leave - present_today
print("\nEmployees on leave but not present:", leave_not_present)

on_leave_and_present = present_today & on_leave
print("\nEmployees both present and on leave:", on_leave_and_present)

Employees present but not on leave: {'Sara', 'Hina', 'Usman', 'Ali', 'Bilal', 'Fatima'}

Employees on leave but not present: {'Ayesha', 'Fariha', 'Omar', 'Hassan'}

Employees both present and on leave: set()

# **Task 07**

In [ ]:
sent_input = input("Enter a sentence to count words : ")

words = sent_input.split()

unique_words = set(words)


print("\nWord frequencies:")

for word in unique_words:
  if word in unique_words:
    count = words.count(word)
    print(f"{word} : {count}",end=", ")

Enter a sentence to count words : python is fun and python is easy

Word frequencies:
easy : 1, is : 2, python : 2, and : 1, fun : 1,

# **Task 08**

In [ ]:
nums = (2, 4, 6, 3, 5, 7)

target = int(input("Enter a target sum : "))


for i in range(len(nums)):
  for j in range(i+1, len(nums)):
    if nums[i] + nums[j] == target:
      print((nums[i],nums[j]),end=", ")

Enter a target sum : 9
(2, 7), (4, 5), (6, 3),

# **TAsk 09**

In [9]:

li = []

while True:
  table = input("Enter a table number (or enter q to exit): ")
  if table == "q":
    break
  order = input("Enter a order of table : ")
  li.append(("Table"+table,order))
  print()
print()
print(li)

counts = {}

for table ,order in li:
  counts[table] = counts.get(table,0) + 1

print()
for table,count in counts.items():
  print(f"{table} : {count} order")

Enter a table number (or enter q to exit): 1
Enter a order of table : burger

Enter a table number (or enter q to exit): 1
Enter a order of table : cola

Enter a table number (or enter q to exit): 2
Enter a order of table : pizza

Enter a table number (or enter q to exit): 3
Enter a order of table : sandwich

Enter a table number (or enter q to exit): 3
Enter a order of table : sundae

Enter a table number (or enter q to exit): 1
Enter a order of table : steak

Enter a table number (or enter q to exit): 4
Enter a order of table : ice cream shake

Enter a table number (or enter q to exit): q

[('Table1', 'burger'), ('Table1', 'cola'), ('Table2', 'pizza'), ('Table3', 'sandwich'), ('Table3', 'sundae'), ('Table1', 'steak'), ('Table4', 'ice cream shake')]

Table1 : 3 order
Table2 : 1 order
Table3 : 2 order
Table4 : 1 order

# **TAsk 10**

In [11]:
math = {"Ali", "Sara", "Bilal", "Hina"}
science = {"Hina", "Zara", "Ali", "Umer"}

enroll_in_both = math & science
only_in_math = math - science
only_in_science = science - math

print(f"Students enrolled in both subjects: {enroll_in_both}")
print(f"\nStudents enrolled only in Mathematics: {only_in_math}")
print(f"\nStudents enrolled only in Science: {only_in_science}")

#

Students enrolled in both subjects: {'Ali', 'Hina'}

Students enrolled only in Mathematics: {'Sara', 'Bilal'}

Students enrolled only in Science: {'Umer', 'Zara'}

# **TAsk 11**

In [19]:
products = [("Apple", 100), ("Banana", 60), ("Apple", 80), ("Orange", 120),("cherry" , 200),("Orange",100),("cherry",200)]

fruits={}
for fruit, quatities in products:
  if fruit in fruits:
    fruits[fruit] += quatities
  else:
    fruits[fruit] = quatities

print(fruits)

{'Apple': 180, 'Banana': 60, 'Orange': 220, 'cherry': 400}

# **Task 12**

In [80]:
word_input = input("Enter a word to check repeated letters : ")

count_letters = {}

repeated = set()

print("Repeated letters in a word are below : ")

for ch in word_input:
  if ch in count_letters:
    repeated.add(ch)


  else:
    count_letters[ch] = 1

# print(count_letters)

print(", ".join(repeated))

Enter a word to check repeated letters : programming
Repeated letters in a word are below :
g, r, m

# **TAsk 13**

In [90]:
students = [("Ali", 78), ("Sara", 92), ("Zara", 85), ("Bilal", 92)]


max = 0
high_scorer = []

for name, marks in students:
  if marks > max:
    max = marks

for name , marks in students:
  if marks == max:
    high_scorer.append(name)



print(f"Highest marks is : {max}")
print(f"\nHighest marks scored by : {high_scorer}")

Highest marks is : 92

Highest marks scored by : ['Sara', 'Bilal']

# **Task 14**

In [99]:
sent = input("Enter a sentence : ")
print()
words = {}

for word in sent.split():
  words[word] = set()
  for ch in word:
    if ch in "aeiouAEIOU":
      words[word].add(ch)


for i ,n in words.items():
  print(f"{i} --> {", ".join(n)}")

Enter a sentence : hello python syntax is eaasy

hello --> o, e
python --> o
syntax --> a
is --> i
eaasy --> a, e

# **Task 15**

In [106]:
transactions = [500, -200, 1000, -150, 300, -400, 250]

deposits = 0
withdrawls = 0

for i in transactions:
  if i>0:
    deposits += i
  else:
    withdrawls += -i

print(f"Total deposits : {deposits}")
print(f"Total withdrawls : {withdrawls}")
print(f"Net balance is : {deposits - withdrawls}")

Total deposits : 2050
Total withdrawls : 750
Net balance is : 1300