<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **bsmt25039**

# **Task 1**

In [ ]:
my_list = [1,2,3,4,5,"hi","welcome to planet"]
my_list_cons = list([1,2,3,4,5,"hi","welcome to planet"])
print(my_list)
print(my_list_cons)

[1, 2, 3, 4, 5, 'hi', 'welcome to planet']
[1, 2, 3, 4, 5, 'hi', 'welcome to planet']

# **Task 2**

In [ ]:
data = [["apple", "banana"], [5, 10, 15], ["x", "y", "z"]]
first_index = str(data[1][0])
last_index = data[-1][-1]

print(first_index)
print(last_index)

string = first_index + last_index
print(string)

5
z
5z

# **TAsk 3**

In [ ]:
user = list(input("Enter a number : "))
print(user)
del user[3]
print(f"\nAfter delete midle number {user}")
user.pop()
print(f"\nAfter delete last number using pop {user}")

del_list = input("\nyou want to del the list (YES/NO)").lower()

if del_list == "yes":
    del user
    print("\nThe list is deleted! ")
    # print(user)
else:
    user.clear()
    print(user)

Enter a number : 1234567
['1', '2', '3', '4', '5', '6', '7']

After delete midle number ['1', '2', '3', '5', '6', '7']

After delete last number using pop ['1', '2', '3', '5', '6']

you want to del the list (YES/NO)yes

The list is deleted!

# **TAsk 4**

In [ ]:
letters = ['p', 'r', 'o', 'g', 'r', 'a', 'm']
print(f"The first four elements are :  {letters[:4]}")
print(f"Gap of 2 are : {letters[1::2]}")
print(f"Reversed list is : {letters[::-1]}")

The first four elements are :  ['p', 'r', 'o', 'g']
Gap of 2 are : ['r', 'g', 'a']
Reversed list is : ['m', 'a', 'r', 'g', 'o', 'r', 'p']

# **Task 5**

In [ ]:
rolls = []
dice_1 = int(input("Enter first dice number [1 to 6] : "))
dice_2 = int(input("Enter second dice number [1 to 6] : "))
dice_3 = int(input("Enter third dice number [1 to 6] : "))
rolls.append(dice_1)
rolls.append(dice_2)
rolls.append(dice_3)
print(f"\nThe dice rolls are : {rolls}")

bonus_rolls = [5, 6]
rolls.extend(bonus_rolls)
print(f"\nThe updated list is : {rolls}")
print(f"\nThe length of the list is : {len(rolls)}")

Enter first dice number [1 to 6] : 4
Enter second dice number [1 to 6] : 2
Enter third dice number [1 to 6] : 1

The dice rolls are : [4, 2, 1]

The updated list is : [4, 2, 1, 5, 6]

The length of the list is : 5

# **Task 6**

In [ ]:
words = ["apple", "banana", "cherry", "apple", "mango", "banana", "apple", "cherry"]
fruit_input = input("ENter the fruit name : ")

if fruit_input not in words:
    print(f"{fruit_input}: is not in the list")

print(f"The total times the {fruit_input} in the list are : {words.count(fruit_input)}")
print(f"The INdex of {fruit_input} is : {words.index(fruit_input)}")

# print(words.index(fruit_input, words.index(fruit_input)+1)) this also works

reversed = words[::-1]
last_index = len(words) - reversed.index(fruit_input) -1
print(f"The last index of {fruit_input} is : {last_index}")

ENter the fruit name : cherry
The total times the cherry in the list are : 2
The INdex of cherry is : 2
The last index of cherry is : 7

# **Task 7**

In [ ]:
players = ["player 2", "player 3", "player 4"]
players.insert(1, "player 1")
players.insert(5, "player 5")
print(f"2 new players player 1 and player 5 joins at position 1 and 5 : {players}")
players.remove("player 4")
print(f"\nOne player player 4 quits the game : {players}")
players.pop()
print(f"\nThe last player in the queue loses connection â€” {players}")



#

2 new players player 1 and player 5 joins at position 1 and 5 : ['player 2', 'player 1', 'player 3', 'player 4', 'player 5']

One player player 4 quits the game : ['player 2', 'player 1', 'player 3', 'player 5']

The last player in the queue loses connection â€” ['player 2', 'player 1', 'player 3']

# **Task 8**

In [ ]:
grades = ["A","B","C","D"]
print(f"\nOriginal list : {grades}")

if len(grades) >3 :
  alias_list = grades
  clone_list =grades.copy()

  alias_list.insert(0,"F")
  print(f"\nThe shallow copy is with F grade added : {alias_list}")
  print(f"THe garde list is updated : {grades}")

  clone_list.append("F")
  print(f"\nThe clone list with F grade added : {clone_list}")
  print(f"The grades list is not changed when changes in clone list occours :{grades}")

  print("""\nThe grade is updated through the shallow copy bcuz we made the list
  \nby just assigning the original list to the new variable so when we change in the
  \nshallow copy list there is the change in the original list .
  \nAnd when we make the copy using the copy function it will depp copy it bcuz when
  \nwe chnage in the deep copy list the original list
is not effected and remain same so it is the deep copy """)
else:
  print("There is nothing to change !")

Original list : ['A', 'B', 'C', 'D']

The shallow copy is with F grade added : ['F', 'A', 'B', 'C', 'D']
THe garde list is updated : ['F', 'A', 'B', 'C', 'D']

The clone list with F grade added : ['A', 'B', 'C', 'D', 'F']
The grades list is not changed when changes in clone list occours :['F', 'A', 'B', 'C', 'D']

The grade is updated through the shallow copy bcuz we made the list

by just assigning the original list to the new variable so when we change in the

shallow copy list there is the change in the original list .

And when we make the copy using the copy function it will depp copy it bcuz when

we chnage in the deep copy list the original list
is not effected and remain same so it is the deep copy

# **Task 9**

In [ ]:
times = [58.9, 61.2, 55.4, 59.7, 62.1, 56.8]
times.sort(reverse=True)
print("The descending order list : ",times)
print(f"The first slowest runner time are : {times[:3]}")

times.reverse()
print(f"\nThe reverse order list : {times}")
print(f"The TWo fastest runner time are : {times[:2]}")

print(f"\nThe time of fastest runner is {times[0]} ")

print(f"\nThe time of slowest runner is {times[-1]} ")

The descending order list :  [62.1, 61.2, 59.7, 58.9, 56.8, 55.4]
The first slowest runner time are : [62.1, 61.2, 59.7]

The reverse order list : [55.4, 56.8, 58.9, 59.7, 61.2, 62.1]
The TWo fastest runner time are : [55.4, 56.8]

The time of fastest runner is 55.4

The time of slowest runner is 62.1

# **Task 10**

In [ ]:
vowels = ["a","e","i","o"]
print("The oroginal List is : ",vowels)
print(id(vowels))

vowels.append("u")
print("The modified List is : ",vowels)
print(id(vowels))

print("\nThe same memory address proves the mutability of list after i change or add something in it ")

The oroginal List is :  ['a', 'e', 'i', 'o']
133520849568384
The modified List is :  ['a', 'e', 'i', 'o', 'u']
133520849568384

The same memory address proves the mutability of list after i change or add something in it

# **Task 11**

In [ ]:
nums = [-2, 0, 3, -5, 8, -1]


has_positive = max(nums) > 0

result = max(nums) if has_positive else min(nums)

print(f"Positive number exists: {has_positive}")
print(f"Result the maximum value in the list is : {result}")

Positive number exists: True
Result the maximum value in the list is : 8

# **Task 12**

In [ ]:

data = (4, 8, 6, 10, 2)
my_list = list(data)
print(my_list)

print(sum(my_list))

if max(my_list) > 0:
    print("All numbers greater than 0 : ",True)
else:
    print("All numbers greater than 0 : ",False)

[4, 8, 6, 10, 2]
30
All numbers greater than 0 :  True

In [ ]:
my_list = [1,2,3,4,5,6,7]
# my_list.pop(3)
# my_list.remove(5)
del my_list[2]
print(my_list)

[1, 2, 4, 5, 6, 7]

In [ ]:
hi_list = ["1234567890"]
hi_list[0][0::2]

'13579'

In [ ]:
names= ["ali","Khurram","amina","Ifra"]

if len(names[0]) >= 4 and names[0][0].isupper():
    print(names[0])
if len(names[1]) >= 4 and names[1][0].isupper():
    print(names[1])
if len(names[2]) >= 4 and names[2][0].isupper():
    print(names[2])
if len (names [3]) > 4 and names [3][0].isupper():
    print(names[3])

Khurram

In [ ]:
user = input("Enter a name : ")

if user[0].islower():
  user[0].upper()
  print(user)
else:
    print(user[::-1])

Enter a name : Khurram
marruhK