<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad KHurram**

# **BSMT25039**

# **Lab 12**

# **Task 01**

In [ ]:
def sum_dig(n):
  if n < 10:
    return n
  else:
    return n % 10 + sum_dig(n // 10)

print(sum_dig(123))

6

# **Task 02**

In [ ]:

def find_max(lst, index):
  if index == len(lst):
    return None

  max_value = find_max(lst, index + 1)

  if max_value is None or lst[index] > max_value:
    return lst[index]

  return max_value

lst = [1, 2, 3, 4, 5]
print(find_max(lst, 0))

5

# **Task 03**

In [ ]:
  def add_value(x,lst=[]):
    lst.append(x)
    return lst

  print(add_value(10))      #here we call the add_value function with 10 as a argument and 10 go as a x in function adn x then append in the lst and output is [10]
  print(add_value(120)) #here we call the add_value function again with 120 as a argument and 120 go as a x in function adn x then append in the lst and output is [10,120]
  print(add_value(200)) #here we call the add_value function with 10 as a argument and 200 go as a x in function adn x then append in the lst and output is [10,120,200]

[10]
[10, 120]
[10, 120, 200]

# **Task 04**

In [ ]:
def reverse_str(s):
  if len(s) <= 1:
    return s
  return s[-1] + reverse_str(s[:-1])

print(reverse_str("abcde"))

edcba

# **Task 05**

In [ ]:
def add(a,b):
  return a+b

def multiply(a,b):
  return a * b

def calculate(a,b,c):

  return multiply(add(a,b),c)


print(calculate(2,3,4))

20

# **Task 06**

In [6]:

def count_occ(lst,target,index=0):
  if index == len(lst):
    return 0

  if lst[index] == target:
    return 1 + count_occ(lst,target,index + 1)
  else:
    return count_occ(lst,target,index+1)

lst = [1, 2, 3, 4,2,5,2,6,8,2,5,6,2,6,1,3]
target = 2
print(count_occ(lst,target))

5

# **Task 07**

In [9]:

def make_multiplier(n):
  def double(ni):
    return ni*n
  return double

d = make_multiplier(2)
print(d(5))

10

# **Task 8**

In [30]:
count = 0
def fib(n):
  global count   # i use the global here to make the variable global and to use it in the function other wise count variable cant be used here cuz it local
  count +=1

  if n<=0:
    return 0
  elif n==1:
    return 1

  return (fib(n-1) + fib(n-2))

print(fib(6))
print(count)

8
25

# **TAsk 09**

In [34]:

def profile(name, age=18 , country="Pakistan"):
  return f"Name: {name}, Age: {age}, Country: {country}"

print(profile("Khurram"))
print(profile("Khurram",19))
print(profile("Khurram",country="Pakistan"))
print(profile("Khurram",19,"Pakistan"))

Name: Khurram, Age: 18, Country: Pakistan
Name: Khurram, Age: 19, Country: Pakistan
Name: Khurram, Age: 18, Country: Pakistan
Name: Khurram, Age: 19, Country: Pakistan

# **Task 10**

In [62]:
def print_reverse(lst, index):
  if index == len(lst):
    return

  print_reverse(lst, index + 1)
  print(lst[index])

lst = [1, 2, 3, 4, 5]
print_reverse(lst, 0)

5
4
3
2
1

# **Task 11**

In [70]:

def sum_digits(n):
  if n < 10:
    return n
  return (n % 10) + sum_digits(n // 10)
print(sum_digits(507))


# sum_digits(5) -> 5
# sum_digits(50) -> 0 + 5 = 5
# sum_digits(507) -> 7 + 5 = 12. 12 is answer

12

# **Task 12**

In [73]:
def find_max(lst, index=0):
  if index == len(lst) - 1:
    return lst[index]
  sub_max = find_max(lst, index + 1)
  return lst[index] if lst[index] > sub_max else sub_max
nums = [8, 3, 15, 2, 9]
print(find_max(nums))

# find_max(4) → 9
# find_max(3) → max(2, 9)  = 9
# find_max(2) → max(15, 9) = 15
# find_max(1) → max(3, 15) = 15
# find_max(0) → max(8, 15) = 15      # 15 must be answer

15

# **Task 13**

In [74]:
def reverse_str(s):
  if len(s) == 0:
    return ""
  return reverse_str(s[1:]) + s[0]
print(reverse_str("car"))

rac

# **Task 14**

In [75]:
def add(a, b):
  return a + b
def multiply(x, y):
  return x * y
def calculate(a, b, c):
  return multiply(add(a, b), c)
print(calculate(2, 4, 3))


# add(2, 4) → 6
# multiply(6, 3) → 18
# calculate(2, 4, 3) → 18

18

# **Task 15**

In [80]:
def count_occ(lst, target, index=0):
  if index == len(lst):
    return 0
  return (1 if lst[index] == target else 0) + count_occ(lst, target, index+1)
print(count_occ([1,2,1,3,1,4], 1))

# index 5: lst[5] = 4 → not equal to 1 → 0 + 0 = 0
# index 4: lst[4] = 1 → equal to 1 → 1 + 0 = 1
# index 3: lst[3] = 3 → not equal to 1 → 0 + 1 = 1
# index 2: lst[2] = 1 → equal to 1 → 1 + 1 = 2
# index 1: lst[1] = 2 → not equal to 1 → 0 + 2 = 2
# index 0: lst[0] = 1 → equal to 1 → 1 + 2 = 3

# Final result: 3

3

# **Task 16**

In [78]:
count = 0
def fib(n):
  global count
  count += 1
  if n <= 1:
    return n
  return fib(n-1) + fib(n-2)
print(fib(4))
print("Calls:", count) # 9 calls and 3 is output

3
Calls: 9

# **Task 17**

In [79]:
def profile(name, age=18, country="Pakistan"):
  return f"{name} - {age} - {country}"
print(profile("Ali"))
print(profile("Sara", 22))
print(profile("John", country="USA"))
print(profile("Muneeb", 30, "Dubai"))

# Ali → name: positional, age: default, country: default
# Sara → name: positional, age: positional, country: default
# John → name: positional, age: default, country: keyword
# Muneeb → name: positional, age: positional, country: positional

Ali - 18 - Pakistan
Sara - 22 - Pakistan
John - 18 - USA
Muneeb - 30 - Dubai