<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_Assignement_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **BSMT25039**

# **Assignement 03**

# **Task 01**

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# **Task 02**

In [ ]:

my_list = []

for i  in range(1,4):
  for j in range(1,3):
    my_list.append((i,j))

print(my_list)

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

# **TAsk 03**

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(f"{i+j}", end="  ")
  print()

2  3  4  5  6
3  4  5  6  7
4  5  6  7  8
5  6  7  8  9
6  7  8  9  10

# **Task 04**

In [ ]:
my_di = {}

for i in range(1,6):
  my_di[i] = i**2
print(my_di)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# **Task 05**

In [ ]:
even_odd = {}

for i in range(1,11):
  if i%2 == 0:
    even_odd[i] = "Even"
  else:
    even_odd[i] = "Odd"
print(even_odd)

{1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd', 10: 'Even'}

# **Task 06**

In [ ]:
string = "hello"
di = {}
for i in string:
  if i not in di:
    di[i] = 1
  else:
    di[i] += 1

print(di)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

# **Task07**

In [ ]:
li = [-2, -1, 0, 1, 2]

absolute_values = [abs(n) for n in li]

print(absolute_values)

[2, 1, 0, 1, 2]

# **Task 08**

In [ ]:
fruits = ["apple", "banana", "kiwi"]

new_fruits = [f for f in fruits if len(f)>4]
print(new_fruits)

['apple', 'banana']

# **Task 09**

In [14]:

def make_cube(li):
  cube_dict = {}
  for i in li:
    cube_dict[i] = i**3
  return cube_dict

print(make_cube([1,2,3,4,5]))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

# **Task 10**

In [15]:

def prime_numbers(n):
  prime = []
  for i in range(2,n):
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      prime.append(i)
  return prime

print(prime_numbers(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# **TAsk 11**

In [ ]:
a = [1,2,3]
b = [4,5,6]

summ = [x+y for x in a for y in b ]

print(summ)

[5, 6, 7, 6, 7, 8, 7, 8, 9]

# **TAsk 12**

In [17]:

def multiply_lst(lst):
  prod = 1
  for i in lst:
    prod *= i

  return prod

print(multiply_lst([1,2,3,4,5,6]))

720

# **Task 13**

In [ ]:
d1 = {'x':10,'y':20}
d2 = {'y':30,'z':40}

for k,v in d2.items():
  if k not in d1:
    d1[k] = v

print(d1)

{'x': 10, 'y': 20, 'z': 40}

# **Task 14**

In [ ]:
d = {'a':1,'b':2,'c':3}

for k,v in d.items():
  if v % 2 ==0:
    d[k] = v*2
  else:
    d[k] +=5

print(d)

{'a': 6, 'b': 4, 'c': 8}

# **Task 15**

In [ ]:
words = ["apple","bat","banana"]

upper = [w.upper() for w in words if len(w)>3]

print(upper)

['APPLE', 'BANANA']

# ***Write step by step execution***

# **Task 16**

In [ ]:

def compute(values):  # define a compute function that takes list of numbers
  total = 0           # initialize total
  i  = 0


  while i <len(values):
    j = 0
    while j <= i:
      if values[j] % 2 == 0:
        total += values[j] * (i + 1)
      else:
        total += values[j]
      j += 1
    i += 1
  return total
print(compute([3, 6, 2, 5]))

# First iteration i=0:
            # outer loop i = 0 i<len(values)which is now 4 0<4 cond true
            # inner loop j=0 ,cond 0<=0 ,cond true now value[0] is 3 which is odd total += 3 , total =3
            # j=1 cond false

# Second iteration i=1:
            # outer loop i=1 < 4 cond true
            # inner loop j=0<=1 cond true , now value[0] is 3 which is odd total+=3 ,   total = 6
            # now j=1<=1 cond true, now value[1] is 6 which is even total+= 6*(2)=12 ,  total =18
            # j=2 cond false

# Third itertion i=2:
            # outer loop i=2<4 cond ture
            # inner loop j=0<=2 cond true, now value[0] is 3 same above total+=3  ,      total = 21
            # now j=1 <=2 cond true ,  now value[1] is 6 which is even total=6*3 =18 ,   total = 39
            # now j=2 <=2 cond true , now value[2] is 2 which is even total = 2*3 = 6,   total = 45
            # j=3 cond false

# Fourth iteration i=3:
            # outer loop i=3 <4 cond true
            # inner loop j=0 <=3 cond true , now value[0] is 3 same above total+=3   ,    total = 48
            # now j=1 <=3 cond true , now value[1] is 6 which is even total+=6*4 = 24,    total = 72
            # now j=2 <=3 cond true ,  now value[2] is 2 which is even total+=2*4 8  ,    total = 80
            # now j=3 <=3 cond true, now value[3] is 5 which is odd total+=5        ,     total = 85
            # j =4 cond False

# Fifth iteration i=4:
            # outer loop i=4 <4 cond False loop break

            # 85 is the answer

85

# **TAsk 17**

In [ ]:

def update(n):
    total = 0
    while n > 0:
      if n % 2 == 0:    # if n is even
        total += n // 2   # add half of n
      else:
        total += n * 3    # add triple of n
      n -= 1
    return total

x = 7
y = update(4)     # call update(4) adn store result in y
result = 0

while x > 0:
  if x % 3 == 0:                # if x is divisible by 3
    result += update(x // 2)    # add update(x//2) to result
  else:
    result += x + y             #else add x+y to result
  x -= 2
print(result)

#Call update(4):
          # when calling the update(4) with 4 argument now total =0 n is 4 now
          # 4>0 loop condition true and 4 is even so total += 4//2=2, total = 2
          # n-1 now n = 3 cond true and 3 is odd so total += 3*3=9 , total = 11
          # n-1 now n= 2 cond true and 2 is even so total += 2//2=1 , total = 12
          # n -1 now n= 1 cond ture and 1 is odd so total+= 1*3 =3   , total = 15
          # n-1 now n = 0 cond is False loop break so function return total  15


# Step 2: Loop with x = 7
          # x = 7 and y = 15 now while 7>0 cond true
          # 7 is not divsible by 3 so result += 7+15  , result = 22
          # x -=2 now x is 5 not divisible by 3 so result+= 5+15 = 20 , result = 42
          # x -=2 now x is 3 divisible by 3 so result += update(3//2) so
          # update(1)function is called :
                                # n = 1 >0 cond true 1 is odd so total +=1*3  so total = 3
                                # n-1 n=0>0 cond false

                                #return total = 3

          # result = 45
          # x-=2 now x is 1 not divisible by 3 so result+=1+15 = 16 , result = 61

          # so result = 61 is answer

61

# **Task 18**

In [1]:
names = ["Ali", "Ayan", "Sara", "Ahsan"]

data = {}

i = 0
while i < len(names):             # Loop through each name
    word = names[i]
    j = 0
    count = 0

    while j < len(word):          # loop through each character
        if word[j] in "aeiouAEIOU":  # If character is a vowel
            count += j               # add the index to count
        else:                        # If consonant
            count -= j               #  subtract the index from count
        j += 1

    data[word] = count               # Save count for this word in dictionary
    print("Step", i, ":", data)
    i += 1

print("Final Dictionary:", data)

# step i=0 :word = "Ali"
           # index j = 0<len(ali) 0<3 cond true now word[0] = A in if cond ,count+=0  ,count= 0
           # j = 1<3 cond true now word[1] = l no vowel count-=1 ,                     count = -1
           # j = 2<3 cond true now words[2] = i is vowel count+= 2 ,                   count = 1
           # j = 3<3 cond false. so {'Ali' = 1}

# step i=1: word="Ayan"
           # j = 0<4 cond true now word[0] = A is vowel count+=0 , count = 0
           # j = 1<4 cond true now word[1] = y not vowel count-=1 , count = -1
           # j= 2<4  cond true now word[2] = a is vowel count +=2 , count =1
           # j =3<4 cond true now word[3] = n no vowel count-=3 ,   count = -2
           # j = 4<4 cond false    so {'Ali' : 1 ,'Ayan' = -2}


# step i=2: word = "Sara"
           # j=0<4 cond true now word[0] = S not vowel count-=0 , count = 0
           # j = 1<4 cond true now word[1] = a is vowel count+= 1 , count = 1
           # j= 2<4 cond true now word[2] = r not vowel count-= 2   , count = -1
           # j= 3<4 cond ture now word[3] = a is vowel count+=3  ,    count = 2
           # j= 4<4 cond False .  so {'Ali' : 1 ,'Ayan' = -2, 'Sara' : 2}


# step i =3 : word = "Ahsan"
           # j=0<5 cond true now word[0] = A is vowel count+=0 , count = 0
           # j = 1<5 cond true now word[1] = h not vowel count-= 1 , count = -1
           # j= 2<5 cond true now word[2] = s not vowel count-= 2   , count = -3
           # j= 3<5 cond ture now word[3] = a is vowel count+=3  ,    count = 0
           # j= 4<5 cond ture now word[4] = 4 not vowel count-=4  ,    count = -4
           # j= 5<5 cond False .  so {'Ali' : 1 ,'Ayan' = -2, 'Sara' : 2 , 'Ahsan' : -4}


    # i =4 < 4 cond false loop break

    # {'Ali' : 1 ,'Ayan' = -2, 'Sara' : 2 , 'Ahsan' : -4}. final output

Step 0 : {'Ali': 1}
Step 1 : {'Ali': 1, 'Ayan': -2}
Step 2 : {'Ali': 1, 'Ayan': -2, 'Sara': 2}
Step 3 : {'Ali': 1, 'Ayan': -2, 'Sara': 2, 'Ahsan': -4}
Final Dictionary: {'Ali': 1, 'Ayan': -2, 'Sara': 2, 'Ahsan': -4}

# **TAsk 19**

In [13]:
matrix = [
    [1, 3, 5],
    [2, 4, 6, 8],
    [7, 9]
]

i = 0
total = 0

while i < len(matrix):                     # Step 1: Loop through each row
    j = 0
    while j < len(matrix[i]):              # Step 2: Loop through each element in that row

        if matrix[i][j] % 3 == 0:          # If number divisible by 3
            matrix[i][j] += i              # Add row index 'i' to that number
        else:
            total += matrix[i][j]          # Otherwise add to total sum

        j += 1                             # Move to next column

    print("After row", i, ":", matrix)     # Show matrix state after each row
    i += 1                                 # Move to next row

print("Total =", total)


# Row 1:
        # i=0 matrix len is 3 i=0<3 cond true now len(matrix[i]) which is 3, j=0<3 cond true ,matrix[0][0] = 1 not div by 3 else: total+= 1 , total=1
        # # now j= 1 matrix[0][1] = 3 is div by 3 so matrix[0][1] += i(0) it remain 3
        # now j = 2 matrix[0][2] =  5 not div by 3 so total += 5 , total = 6
        # $ now j = 3 cond false
        # After row 0 : [[1, 3, 5], [2, 4, 6, 8], [7, 9]] this print after row one iteration is complete

# Row 2:
        # i = 1 < 3 cond true j = 0<4 cond true , matrix[1][0] =2 not div by 3 else: total +=2 , total = 8
        # now j = 1<4 cond true ,matrix[1][1] =4 not div by 3 else: total += 4  , total = 12
        # now j= 2< 4 cond true , matrix[1][2] = 6 div by 3 so matrix[1][2] += 1 so 6 becomes 7 in row 2
        # now j = 3<4 cond true , matrix[1][3] = 8 not div by 3 else: total +=8 , total = 20
        # now j = 4<4 cond false
        # After row 1 : [[1, 3, 5], [2, 4, 7, 8], [7, 9]] this print after row 2 iteration is complete

# Row 3:
        # i = 2<3 cond true j = 0<2 cond true , matrix[2][0] = 7 not div by 3 else: total+=7 , total = 27
        # now j = 1<2 cond true, matrix[2][1] = 9 div by 3 so matrix[2][1] += 2 so 9 becomes 11 in row 3
        # now j = 2<2 cond false
        # After row 2 : [[1, 3, 5], [2, 4, 7, 8], [7, 11]] this print after row 3 iteration is complete


        # i =3<3 cond false loop break

        # print(total) 27 answer

After row 0 : [[1, 3, 5], [2, 4, 6, 8], [7, 9]]
After row 1 : [[1, 3, 5], [2, 4, 7, 8], [7, 9]]
After row 2 : [[1, 3, 5], [2, 4, 7, 8], [7, 11]]
Total = 27

# **Task 20**

In [12]:


def transform(n):
    s = 0
    while n > 0:                 # Loop through digits of n
        d = n % 10               # Extract last digit
        if d % 2 == 0:           #if digit is even
            s += d * 2           # add double
        else:                    # if digit is odd
            s += d               #add as is
        n //= 10                 # remove last digit
    return s                     # return transformed sum



nums = [12, 35, 44, 81]
output = []
i = 0

while i < len(nums):                 # Loop through the nums list
    val = transform(nums[i])         # Step 1: transform each number using the above function

    if val % 3 == 0:                 #if divisible by 3
        output.append(val // 3)      # Add val/3
    else:
        output.append(val + i)       # Otherwise add val + index

    print("Step", i, "output =", output)
    i += 1

print("Final Output:", output)



# Function calling 1(nums[i]):
                  # nums(12) , transform calling with n=12 now 12>0 cond true loop start d = 12 % 10 , d = 2 so 2 is even s +=2*2 ,s=4
                  # now n //=10 ,n=1 >0 cond true so d = 1 is odd s += 1  , s = 5
                  # n = 0 loop break return s = 5

# transform(nums[35]) :
                  # 35 > 0 cond true , d  = 5 is odd s+= 5  , s=5
                  # now n=3 cond true , d = 3 is odd s+=3   , s=8
                  # n = 0 cond false return s = 8

# transform(nums[44]):
                  # 44>0 cond true , d = 4 is even s+=4*2=8  , s=8
                  # now n =4 cond true , d = 4 id even s+=4*2=8 , s=16
                  # n = 0 > 0 cond false return s =16

# transform(nums[81]):
                  # 81>0 cond true , d = 1 is odd s+=1    , s = 1
                  # now n = 8 >0 cond true , d = 8 is even s+=8*2 =16 , s =17
                  # n=0 > 0 cond false return s =17



# inside while loop
        #step i=0<len(nums)
                    # i=0 <4 cond true , val = 5 not divsible by 3 else: output.append(5+i(0)) , output=[5]
        # step i=1:
                    # i =1<4 cond true , val = 8 not divsible by 3 else: output.append(8+i(1)). , output=[5,9]
        # step i=2:
                    # i =2<4 cond true , val = 16 not divisible by 3 else: output.append(16+i(2)) , output=[5,9,18]
        # step i=3:
                    # i =3<4 cond true , val = 17 not div by 3 else : output.append(17+i(3))  , output = [5,9,18,20]
        # step i=4:
                    # i = 4<4 cond False loop break final output is [5,9,18,20] answer

Step 0 output = [5]
Step 1 output = [5, 9]
Step 2 output = [5, 9, 18]
Step 3 output = [5, 9, 18, 20]
Final Output: [5, 9, 18, 20]