<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1**

In [ ]:
num_1 = float(input("Enter 1st number: "))
num_2 = float(input("\nEnter 2nd number: "))

division_result = num_1 / num_2

print(id(division_result))
print(type(division_result))
print(division_result)

Enter 1st number: 3

Enter 2nd number: 9
132925927841552
<class 'float'>
0.3333333333333333

# **Task 2**

In [ ]:
user_name = input("Enter your name: ")
user_age = int(input("enter your age : "))
check_equality = type(user_name) == type(user_age)
print(check_equality)

Enter your name: khurram
enter your age : 19
False

# **Task 3**

In [ ]:
string_1 = input("Enter 1st string: ")
string_2 = input("Enter 2nd string: ")

show_isnot = string_1 is not string_2
print(show_isnot)

Enter 1st string: hi
Enter 2nd string: bye
True

# **Task 4**

In [ ]:
str_1 = input("Enter string 1 : ")
str_2 = input("Enter string 2  : ")
str_3 = input("Enter string 3 : ")

final_string = str_1 + " " + str_2 + " " + str_3
# print(final_string)

print(len(final_string))
print(final_string.upper())

print(final_string.lower())

Enter string 1 : My name is
Enter string 2  : Khurram
Enter string 3 : Shahzad
27
MY NAME IS  KHURRAM SHAHZAD
my name is  khurram shahzad

# ***Task 5***

In [ ]:
import math
user_input = input("Enter a number : ")
number = int(user_input)
square_root= math.sqrt(number)
print(f"The square root of the given number is : {square_root:.2f}")
#

Enter a number : 39
The square root of the given number is : 6.24

# **Task 6**

In [ ]:
x = None
print(type(x))
compare = x  is None
print(compare)

<class 'NoneType'>
True

# **Task 7**

In [ ]:
x = 3
print(id(x))
x = 9
print(id(x))

print(id(x) is id(x))

print( id(x) is not id(x) )

# so the int x is immutable cuz the data is not updated and the memory address is changed of both var

11642152
11642344
False
True

# **Task 8**

In [ ]:
str1 = input("Enter your first name : ")

final_name = str1  + " " + "Shahzad"

print(id(str1))
print(id(final_name))

print(id(str1) is id(final_name))
print(id(str1) is not id(final_name))

# so thats mean string is immutable

Enter your first name : khurram
132925370460288
132925373523184
False
True

# **Task 9**

In [ ]:
value = "python"
print(value.replace("p","j"))

# So the var value store the Python we want to update the p with j
# we use the replace function of string and replace the p we open the
# parantheesis and write ("p") whixh we want to update or change then
# we use comma after that ("p","j") and we write the alphabet that we want
# instead of P so the answer is "jython"

jython

# ***LAB 3 is Completed***