<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **bsmt25039**

# **Lab 11**

# **Task 01**

In [ ]:

new_list = []

def filter_Special(nums):
  for index , n in enumerate(nums):
    if index % 2 == 0:
      new_list.append(n)
    elif n % 5 == 0:
      new_list.append(n)
  print(new_list)

filter_Special([1,2,3,4,6,5,7,8,9,10])

[1, 3, 6, 5, 7, 9, 10]

# **Task 02**

In [ ]:
new_d = {}
def reverse_map(d):
  for k , v in d :
    if v in new_d:
      new_d[v].add(k)
    else:
      new_d[v] = {k}
  print(new_d)

reverse_map([('a',1),('b',2),('c',1)])

{1: {'a', 'c'}, 2: {'b'}}

# **Task 03**

In [ ]:

def roatate_tuple(t,k):
  for i in range(k):
    t = t[-1:] + t[:-1]
  print(t)

roatate_tuple((1,2,3,4),3)

(2, 3, 4, 1)

# **TAsk 04**

In [ ]:
sym = set()
def sym_diff(A,B):
  for i in A:
    for j in B:
      if j not in A:
        sym.add(j)
      elif i not in B:
        sym.add(i)
  print(sym)

sym_diff([1,2,3,4,5],[2,3,4,5,6])

{1, 6}

# **Task 05**

In [ ]:
def next_run(start_index, nums):
    run = [nums[start_index]]
    for i in range(start_index + 1, len(nums)):
        if nums[i] > run[-1]:
            run.append(nums[i])
        else:
            break
    return run

def collect_increasing_runs(nums):
    all_runs = []
    current_index = 0
    while current_index < len(nums):
        run = next_run(current_index, nums)
        all_runs.append(run)
        current_index += len(run)
    return all_runs


print(collect_increasing_runs([3,5,7,2,4]))

[[3, 5, 7], [2, 4]]

# **Task 06**

In [ ]:
new_d = {}
def count_categories(d):
  for k , v in d.items():
    if v in new_d:
      new_d[v] += 1
    else:
      new_d[v] = 1

  print(new_d)

count_categories({"Ali": "A", "Sara": "B", "Zain": "A", "Omar": "C"})

{'A': 2, 'B': 1, 'C': 1}

# **Task 07**

In [ ]:
compress = set()
def compress_tuple(t):
  for i in t:
    compress.add(i)
  print(compress)

compress_tuple((1,2,2,3,3,3,4,4,4,4,))

{1, 2, 3, 4}

# **Task 08**

In [ ]:
no_repeat = []

def unique_words(sentence):
  words = sentence.split()

  for i in words:
    if i in no_repeat:
      no_repeat.remove(i)
    else:
      no_repeat.append(i)
  repeat = set(set(words) - set(no_repeat))
  print(f"Words that appear ones are : {no_repeat}")
  print(f"Words that repeat are : {repeat}")

unique_words("hello world hello  is programming is easy or is not python have easy syntax and python and ")

Words that appear ones are : ['world', 'programming', 'or', 'is', 'not', 'have', 'syntax']
Words that repeat are : {'hello', 'and', 'python', 'easy'}

# **TAsk 09**

In [ ]:

def border_sum(matrix):

    total = 0
    rows = len(matrix)
    cols = len(matrix[0])

    for i in range(rows):
        for j in range(cols):
            if i == 0 or i == rows - 1 or j == 0 or j == cols - 1:
                total += matrix[i][j]

    return total

border_sum([[1,2,3],[4,5,6],[7,8,9]])

40

# **Task 10**

In [ ]:
def sort_by_frequency(nums):
    d = {}
    for n in nums:
        if n in d:
            d[n] += 1
        else:
            d[n] = 1
    items = sorted(d.items())

    def get_freq(t):
        return t[1]

    items = sorted(items, key=get_freq)
    return items

print(sort_by_frequency([4,4,1,2,2,3]))

[(1, 1), (3, 1), (2, 2), (4, 2)]

# ***Output prediction and code explaination***

# **Task 11**

In [ ]:
def fun(s):                    # i make a function name fun and taking a argument(s)
  result = set()               # result var having set()
  for ch in s:                 # loop on the s which is now (aBaA) , in first ch = a
    if ch not in result:       # ch not in result cond True result.add(a.upper()) so result = {"A"}
      result.add(ch.upper())   # now ch = B not in result cond True so result.add(B.upper()) so result = {"A","B"}
    else:                      # now ch = a not in result cond True so result.add(a.upper()) so result = {"A","B","A"} set have unique values then resut= {"B","A"}
      result.add(ch.lower())   # now ch = A not in result cond false go to else result.add(A.lower()) so result = {"B","a","A"}
  return result                # now return result = {"B","a","A"}

print(fun("aBaA"))     # when we call the function the output is {'B','a','A'}

{'B', 'a', 'A'}

# **Task 12**

In [ ]:
d = {1: 2, 2: 4, 3: 6}
i = 1
total = 0

while i <= len(d):  # i = 1 < len of d cond true then d[0] have key which is 1 and have 2 val so d[0] = 2 , total += 2 ,total = 2
  total += d[i]     # i = 2 cond true then d[1] is 4 so total += 4+2 , total = 6
  i += 1            # i = 3 cond true d[2] is 6 so total += 6 + 6 , total = 12
                    # i = 4 cond false

print(total)        # when we print it answer is 12

12

# **Task 13**

In [ ]:
def test(lst):
  i = 0
  s = 0
  while i < len(lst):     # here i=0 cond true and then s += lst[0] is 3 and (0+1) is 1 so 3*1 s = 3
    s += lst[i] * (i+1)   # now i = 2 cond true lst[2] is 4 and (2+1) is 3 so s+= 4*3 s =12 + 3 = 15
    i += 2                # now i = 4 cond true lst[4] is 5 and (4+1) is 5 so s+= 5 * 5 = 25+15  = 40
                          # now i = 6 not less than length of lst cond false loop break
  return s                # and return s now s = 40

print(test([3,1,4,1,5,9]))    # when we call the function we have the 40 answer

40