<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **Bsmt25039**

# **Task 1**

In [ ]:
user_input = input("Enter three words : ")
set_conversion = set(user_input)
print(set_conversion)
print("""\nWhen we convert a multiple words strinf in to the set
in convert that string in to the set with consider each alphabet a element of set and
remove the duplicate elements.\n""")
spliting = user_input.split()
print(spliting)
print("""\nWhen we convert a multiple words string using the split function
it convert that string in to the list with consider each word a element of list.""")

Enter three words : hi khurram here
{'e', 'a', 'h', 'k', ' ', 'i', 'm', 'r', 'u'}

When we convert a multiple words strinf in to the set
in convert that string in to the set with consider each alphabet a element of set and
remove the duplicate elements.

['hi', 'khurram', 'here']

When we convert a multiple words string using the split function
it convert that string in to the list with consider each word a element of list.

# **Task 2**

In [ ]:
var1 = {}
var2 = set()
print(f"The var1 {var1} Type is : {type(var1)}")
print(f"The var2 {var2} Type is : {type(var2)}\n")

var2.add("hello world")
var2.add("khurram")
print(var2)
print("""\nThe {} is a sign of set and also for the dictionary when we check the type of the empty curly braces
it gives us the dictionary type cuz dictioanry also have the same brackets to use when we use .add function to add in {}
empty it gives us the error dictionary have no method or function .add() cuz {} empty is considered as dictionary
and when we add something in the like {1} now it considerd as the set  """)

The var1 {} Type is : <class 'dict'>
The var2 set() Type is : <class 'set'>

{'hello world', 'khurram'}

The {} is a sign of set and also for the dictionary when we check the type of the empty curly braces
it gives us the dictionary type cuz dictioanry also have the same brackets to use when we use .add function to add in {}
empty it gives us the error dictionary have no method or function .add() cuz {} empty is considered as dictionary
and when we add something in the like {1} now it considerd as the set

# **Task 3**

In [ ]:
fruits = set()
fruits.add("apple")
print(fruits)
fruits.update(["banana", "cherry", "apple"])
print(fruits)
print(f"\nThe length of unique items in set are : {len(fruits)}\n")
print("The apple appears at once but we add it twice in add and update function cuz set considers unique elemets it doesn't consider a element which exists twice ")

{'apple'}
{'apple', 'banana', 'cherry'}

The length of unique items in set are : 3

The apple appears at once but we add it twice in add and update function cuz set considers unique elemets it doesn't consider a element which exists twice

# **Task 4**

In [ ]:
numbers = {2, 4, 6, 8, 10}
want_remove = int(input("Enter a number to remove : "))
print(f"""\nThe remove fuction gives error when the elemets in not in the  set abd the discard
functon not gives s=us error when the element is not in the list its there defualt behaviors""")
if want_remove in numbers:
    numbers.discard(want_remove)
    print(numbers)
else:
    print(f"{numbers.remove(want_remove)} is not in the set")

Enter a number to remove : 3

The remove fuction gives error when the elemets in not in the  set abd the discard
functon not gives s=us error when the element is not in the list its there defualt behaviors

KeyError: 3

# **Task 5**

In [ ]:
fruits =  {"apple", "banana", "mango", "orange"}
ask_fruit = input("Enter a fruit name : ")
if ask_fruit in fruits:
    print(f"{ask_fruit} is in the fruit basket ")
else:
    print(f"{ask_fruit} is not in the fruit basket")

Enter a fruit name : mango
mango is in the fruit basket

# **Task 6**

In [ ]:
cricket_players = {"Ali", "Sara", "John", "Ahmed"}
football_players = {"John", "Bilal", "Sara", "Zain"}

intersection = cricket_players & football_players
union = cricket_players | football_players

print(f"The intersection of cricket and football players is : {intersection}")
print(f"\nThe union of cricket and football players is : {union}")
print(f"\nThe players who play both there length are: {len(intersection)}")

The intersection of cricket and football players is : {'Sara', 'John'}

The union of cricket and football players is : {'John', 'Sara', 'Bilal', 'Ali', 'Ahmed', 'Zain'}

The players who play both there length are: 2

# **Task 7**

In [ ]:
math_students = {"Aisha", "Usman", "Hira", "Ali"}
science_students = {"Hira", "Ali", "Zara", "Hamza"}

print(f"Students who took only math are : {math_students - science_students}")
print(f"\nStudents who took only one subject are : {math_students ^ science_students}")

print("""\nThe symmetric differnce in this case check that in set one the values
are not in the set 2 and then checks the set 2 have and that values set 1 not it prints them.""")

Students who took only math are : {'Aisha', 'Usman'}

Students who took only one subject are : {'Aisha', 'Hamza', 'Usman', 'Zara'}

The symmetric differnce in this case check that in set one the values
are not in the set 2 and then checks the set 2 have and that values set 1 not it prints them.

# **Task 8**

In [ ]:
fruits = {"apple", "banana", "cherry", "mango", "orange"}
fruit_input = input("Enter a fruit name : ").lower().strip()

if fruit_input == "orange":
  print("Oops! Orange is already in the basket ")

elif fruit_input in fruits:
  fruits.remove(fruit_input)
  print(f"{fruit_input} is removed and here is the remaining fruits : {fruits}")

else:
  print(f"{fruit_input} is not in the set")

Enter a fruit name : Orange
Oops! Orange is already in the basket

# **Task 9**

In [ ]:
fruits = {"apple", "banana", "cherry", "mango", "orange"}
tropical = {"mango", "banana", "papaya"}
citrus = {"orange", "lemon", "lime"}

if tropical.isdisjoint(citrus):
  print("Tropical and citrus fruits have no overlap")
else:
  print("Some fruits are both tropical and citrus.")

if fruits.issuperset(tropical) and fruits.issuperset(citrus):
  print("The fruit list covers all tropical and citrus fruits.")
else:
  print("The fruit list is missing some fruits.")

if tropical.issubset(fruits) and not tropical.issubset(citrus):
  print("All tropical fruits are in the list but not all are citrus.")
else:
  print("Nothing")

Tropical and citrus fruits have no overlap
The fruit list is missing some fruits.
Nothing

# **Task 10**

In [ ]:
num = {1,2,3,8,6,-2,-9,-4}
convert_list = list(num)
print(convert_list)
convert_list.sort()
print(f"\nThe sorted are : {convert_list}")
convert_list.reverse()
print(f"\nThe reversed are : {convert_list}")

[1, 2, 3, 6, 8, -9, -4, -2]

The sorted are : [-9, -4, -2, 1, 2, 3, 6, 8]

The reversed are : [8, 6, 3, 2, 1, -2, -4, -9]