<a href="https://colab.research.google.com/github/KhurramDevOps/Python_Learning/blob/master/bsmt25039_lab_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Muhammad Khurram**

# **bsmt25039**

# **Lab 09**

# **Task 01**

In [ ]:
for i in "nadia":
  print(i)

n
a
d
i
a

# **Task 02**

In [ ]:
for i in range(2,31,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

# **TAsk 03**

In [ ]:
num = [-6,-2,1,2,3,4,5,6,7,8,9]
maxi = 0
mini = 1
for i in num:
  if i > maxi:
    maxi = i
  if i < mini:
    mini = i
print(f"The maximum number is : {maxi}")
print(f"The minimun number is {mini}")
print(f"The diiference between maxi and mini is : {maxi - mini}")

The maximum number is : 9
The minimun number is -6
The diiference between maxi and mini is : 15

# **Task 04**

In [ ]:
A = [2, 4, 6, 8]
B = [4, 8, 10]

i = 0

while i < len(A):
  j = 0
  while j < len(B):
    if A[i] == B[j]:
      print(B[j])
    j+=1

  i+=1

4
8

# **TAsk 05**

In [ ]:
colors = ["blue","green","red","yellow","pink"]

for index , color in enumerate(colors):
  print(f"AT index: {index} the color is {color}")

AT index: 0 the color is blue
AT index: 1 the color is green
AT index: 2 the color is red
AT index: 3 the color is yellow
AT index: 4 the color is pink

# **Task 06**

In [ ]:
attendance = ['P', 'A', 'P', 'A', 'P', 'A', 'P']
count = 0
for i in attendance:
  if i == "A":
    continue
  else:
    print(i)
    count+=1

print(f"Total present students are : {count}")

P
P
P
P
Total present students are : 4

# **TAsk 07**

In [ ]:
i = 0
while i < 5:
  j=0
  while j < 5:
    if i == 0 or i == 4 or j == 0 or j == 4:
      print("*",end="")
    else:
      print(" ",end="")
    j+=1
  print()
  i+=1

*****
*   *
*   *
*   *
*****

# **Task 08**

In [ ]:
i = 0
while i < 4:
  j=0
  while j < 5:
    print("*",end="")
    j+=1
  print()
  i+=1

*****
*****
*****
*****

# **TAsk 09**

In [ ]:
for i in range(1, 6):
  for j in range(1, i + 1):
    print("*", end="")
  print()

*
**
***
****
*****

# **Task 10**

In [ ]:
for i in range(1, 6):
  for j in range(5 - i):
    print(" ", end="")
  for k in range(2 * i - 1):
    print("*", end="")
  print()

for i in range(4, 0, -1):
  for j in range(5 - i):
    print(" ", end="")
  for k in range(2 * i - 1):
    print("*", end="")

  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# **Task 11**

In [ ]:
for i in range(1, 5):
  for j in range(1, i + 1):
    print("*", end=" ")
  print()
for i in range(3, 0, -1):
  for j in range(1, i + 1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

# **Task 12**

In [ ]:
regions = ["North", "South", "East", "West"]
sales_data = [[1200, 1500, 1100], [1000, 950, 1050], [1600, 1700, 1650] [900, 800, 950]]  # comma not mentioned
print("Region | Total Sales | Average Sale")
print("---------------------------------------")
for i in range(4)              # colon not there
total = 0                     # indentation error
for j in sales_data[i]:        # indentation error not in the nested syntax
total = total + j                     # Indentation Error
average = total / len(sales_data)      #average also be in the nested loop and sales data of what which index missing correct as len(sales_data[i])
print(regions[i], " | ", total, " | ", average  # bracket not closed
if total > 1500     # also be in the nested loop colon not there and instead of total use average > 1500 cuz total of every rejion is greater than 1500
print("Top performing region:", regions[i])                  # Indentation Error
else                                                # colon mssing but no need for else
print("End of report"                              # bracket not closed4

In [ ]:
regions = ["North", "South", "East", "West"]
sales_data = [
    [1200, 1500, 1100],
    [1000, 950, 1050],
    [1600, 1700, 1650],
    [900, 800, 950]
]

print("Region | Total Sales | Average Sale")
print("---------------------------------------")

for i in range(4):
    total = 0
    for j in sales_data[i]:
        total += j

    average = total / len(sales_data[i])
    print(f"{regions[i]}  |      {total}  | {average:12.2f}")

    if average > 1500:
        print("Top performing region:", regions[i])

print("End of report")

Region | Total Sales | Average Sale
---------------------------------------
North  |      3800  |      1266.67
South  |      3000  |      1000.00
East  |      4950  |      1650.00
Top performing region: East
West  |      2650  |       883.33
End of report